<div class="container">
  <form #f="ngForm" ngForm (ngSubmit)="sendForm(f)">

    <div ngModelGroup="contacto" #contacto="ngModelGroup">
      <div class="form-group">
        <label for="firstName">Nome</label>
        <input required type="text" id="firstName" name="firstName"
        class="form-control"
        #name="ngModel"
        minlength="3"
        pattern="Amarildo"
        ngModel (change)="log(name)"
        >
        <div class="alert alert-danger" *ngIf="name.invalid && name.touched">
          <div *ngIf="name.errors.required">Este campo é obrigatório</div>
          <div *ngIf="name.errors.minlength">No minimo {{name.errors.minlength.requiredLength}} caracteres exigidos</div>
          <div *ngIf="name.errors.pattern">Não obedece o padrão</div>
        </div>
      </div>
    </div>
    <div class="radio" *ngFor="let method of contactMethods">
      <label for="contactMethod">
        <input type="radio" [value]="method.id" name="contactMethod" ngModel> {{method.name}}
      </label>
    </div>
    <div class="form-group">
      <label for="contactMethod"></label>
      <select name="contactMethod" id="contactMethod" class="form-control" ngModel>
        <option value="" selected>Selecione uma opção</option>
        <option [value]="method.id" *ngFor="let method of contactMethods">{{method.name}}</option>
      </select>
    </div>
    <div class="checkbox">
      <label for="isSubscribe">
        <input type="checkbox" name="isSubscribe" ngModel> Subscrever a caixa de email
      </label>
    </div>
    <div class="form-group">
      <label for="comment"></label>
      <textarea name="" id="comment" name="comment" cols="30" rows="10" class="form-control" ngModel></textarea>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!f.valid">submit</button>
  </form>
  <p>
    {{f.value | json}}
  </p>
</div>

