<div class="container">
  <form [formGroup]="oForm">
    <div class="form-group">
      <label for="">Old password</label>
      <input type="text" class="form-control" formControlName="oldPassword" #oldpass>
      <div class="alert alert-danger" *ngIf="oldPassword.invalid && oldPassword.touched">
        <div *ngIf="oldPassword.errors.required">Este campo é obrigatório</div>
        <div *ngIf="oldPassword.errors.invalidOldPassword">Password errada*</div>
      </div>
    </div>
    <div class="form-group">
      <label for="">New password</label>
      <input type="text" class="form-control" formControlName="newPassword" #newpass>
      <div class="alert alert-danger" *ngIf="newPassword.invalid && newPassword.touched">
        <span *ngIf="newPassword.errors.required">Este campo é obrigatório</span>
      </div>
    </div>
    <div class="form-group">
      <label for="">Confirm password</label>
      <input type="text" class="form-control" formControlName="confirmPassword">
      <div class="alert alert-danger" *ngIf="confirmPassword.invalid && confirmPassword.touched">
        <div *ngIf="confirmPassword.errors.required">Este campo é obrigatório</div>
      </div>
      <div class="alert alert-danger" *ngIf="confirmPassword.valid && oForm.invalid && oForm.errors.passwordShouldMatch">As senhas não combinam</div>

    </div>
    <button class="btn btn-primary">enviar</button>
  </form>
</div>
